.grille1 {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    grid-template-columns: 1fr;

    grid-template-areas:
    "bloc__titre"
    "intro"
    "haku"
    "titre1"
    "texte1"
    "texte2"
    "sprites1";

    @media (min-width: 600px) {
        grid-template-columns: 6fr 6fr;

        grid-template-areas:
        "bloc__titre bloc__titre"
        "intro haku"
        "titre1 titre1"
        "texte1 texte1"
        "texte2 texte2"
        "sprites1 sprites1";
    }

    @media (min-width: 900px) {
        grid-template-columns: 1fr 6fr 5fr;

        grid-template-areas:
        "bloc__titre   bloc__titre   bloc__titre"
        ".     intro     haku"
        "titre1   titre1   haku"
        "texte1   texte1   haku"
        "texte2   texte2   sprites1";
    }
}

// .grille2 {
//     display: grid;
//     width: 100%;
//     max-width: 1200px;
//     margin: 0 auto;

//     grid-template-columns: 6fr 6fr;
//     grid-gap: 20px;

//     grid-template-areas:
//     "texte1   ."
//     "texte2   .";
// }

.grille3 {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    grid-template-columns: 5fr 4fr;

    grid-template-areas:
    "poster poster"
    "titre2 titre2"
    "texte3 texte3"
    "sprites2 sprites3"
    "texte4 texte4";

    @media (min-width: 600px) {
        grid-template-columns: 6fr 6fr;

        grid-template-areas:
        "poster sprites3"
        "poster sprites2"
        "titre2 titre2"
        "texte3 texte3"
        "texte4 texte4";
    }

    @media (min-width: 900px) {
        grid-template-columns: 6fr 3fr 3fr;
        grid-gap: 5px;

        grid-template-areas:
        "poster titre2 titre2"
        "poster texte3 texte3"
        "poster texte4 texte4"
        "poster sprites2 sprites3";
    }
}

.grille4 {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    grid-template-columns: 5fr 1fr;
    grid-gap: 5px;

    grid-template-areas:
    "titre3 oiseauSouris"
    "texte5 texte5"
    "train train";

    @media (min-width: 600px) {
        grid-template-columns: 8fr 2fr;
        
        grid-template-areas:
        "titre3 titre3"
        "texte5 oiseauSouris"
        "train train";
    }

    @media (min-width: 900px) {
        grid-template-columns: 6fr 1fr 3fr;

        grid-template-areas:
        "titre3   titre3   oiseauSouris"
        "texte5   .   oiseauSouris"
        "train train train";
    }
}

.bloc__titre {
    grid-area: bloc__titre;
}

.intro {
    grid-area: intro;
}

.titre1 {
    grid-area: titre1;
}

.texte1 {
    grid-area: texte1;
}

.texte2 {
    grid-area: texte2;
}

.titre2 {
    grid-area: titre2;
}

.texte3 {
    grid-area: texte3;
}

.texte4 {
    grid-area: texte4;
}

.titre3 {
    grid-area: titre3;
}

.texte5 {
    grid-area: texte5;
}

.haku {
    grid-area: haku;
}

.sprites1 {
    grid-area: sprites1;
}

.sprites2 {
    grid-area: sprites2;
}

.sprites3 {
    grid-area: sprites3;
}

.poster {
    grid-area: poster;
}

.oiseauSouris {
    grid-area: oiseauSouris;
}

.train {
    grid-area: train;
    object-fit: cover;
}