@charset "UTF-8";

/* Typos importées */
// @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Feuilles de styles */
@import '_normalize';
@import '_utilitaires';
@import '_typo';
@import '_grille';

:root {
    box-sizing: border-box;
}

header {
    background-color: $lightBlack;
    padding: 2rem 0;

    .inner {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
    }
}

.logo {
    width: 12%;
    margin-right: 7rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.menu__item {
    color: white;
    list-style: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 110px;
    font-family: 'Fjalla One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: -1px;
    color: #f35e3e;
    font-weight: 100;
    padding-bottom: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    max-width: 1200px;
}

.citation {
    background-color: $lightBlack;
    color: white;
    padding: 4rem 2rem;
    border-radius: 2rem;
}

.haku {
    width: 90%;
}

.poster {
    width: 50%;
}

footer {
    background-color: black;
}