@charset "UTF-8";

/* Typos importées */
// @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Feuilles de styles */
@import '_normalize';
@import '_utilitaires';
@import '_typo';
@import '_grille';

:root {
    box-sizing: border-box;
}

body {
    background-color: $beige;
}

header {
    background-color: $lightBlack;
    padding: 2rem 0;

    .inner {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
    }
}

.logo {
    width: 12%;
    margin-right: 7rem;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

.menu__item {
    color: $white;
    list-style: none;
}

.item__lien:link, .item__lien:visited {
    color: $white;
}

.item__lien:hover, .item__lien:active {
    color: $lightRed;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.fil__ariane {
    margin: 0;
}

.fil__lien {
    color: $black;
}

.fil__lien:link, .fil__lien:visited {
    color: $black;
}

.fil__lien:hover, .fil__lien:active {
    color: $lightRed;
}

h1 {
    font-size: 110px;
    font-family: 'Fjalla One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: -1px;
    color: $lightRed;
    font-weight: 100;
    padding-bottom: 0;
    margin: 0;
}

.sous-titre {
    margin-top: -4.5rem;
}

h2 {
    margin: 0;
    font-weight: 400;
}

p {
    max-width: 1200px;
}

.citation {
    background-color: $lightBlack;
    color: $white;
    padding: 4rem 2rem;
    border-radius: 2rem;
}

.haku {
    float: left;
    width: 90%;
}

.poster {
    width: 50%;
}

footer {
    background-color: $lightBlack;
}

.infolettre {
    color: $white;
}

.footer__p {
    color: $white;
}

.btnInfolettre {
    background-color: $black;
    border: 1px solid $white;
    border-radius: 0 5px 5px 0;
}

.btnInfolettre img {
    width: 100%;
    padding-top: .5rem;
}